
.speak{
	background-color: rgb(158,234,106);
    padding: 4px 8px;
    border-radius: 5px;
    display: inline-block;
    font-size: 16px;
    color: #333;
    margin-left: 45px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.mespeak{
	float: right;
	background-color: rgb(255, 255, 255);
    border: 1px solid #f5f5f5;
    padding: 4px 8px;
    border-radius: 5px;
    display: inline-block;
    font-size: 16px;
    color: #333;
    margin-right: 10px;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}